# Portable git configuration. Set your identity locally:
#   git config --global user.name  "..."
#   git config --global user.email "..."

[core]
	editor = nvim

[init]
	defaultBranch = main

[alias]
	st = status --short --branch
	co = checkout
	br = branch
	ci = commit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --

[diff]
	algorithm = histogram
	colorMoved = default

[merge]
	conflictStyle = zdiff3

[pull]
	ff = only

[push]
	default = simple
	autoSetupRemote = true
